@model X.PagedList.IPagedList<CinemaDomain.Model.Movie>
@using X.PagedList.Mvc.Core;

<div class="d-flex flex-column min-vh-100">
    <div class="flex-grow-1">
        <div class="movies-grid-container">
            <div class="movies-grid">
                @for (int i = 0; i < Model.Count; i += 3)
                {
                    <div class="movies-row">
                        @for (int j = i; j < i + 3 && j < Model.Count; j++)
                        {
                            var movie = Model[j];
                            <div class="movie-item">
                                <a href="@Url.Action("DetailsWithSession", "Movies", new { id = movie.Id })" class="movie-link">
                                    <div class="movie-poster-container">
                                        <img src="@movie.BannerUrl" alt="@movie.Title" class="movie-poster" />
                                    </div>
                                    <h3 class="movie-title">@movie.Title</h3>
                                </a>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="pagination-container mt-5 d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                 new PagedListRenderOptions
        {
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
    </div>
</div>
