@model IEnumerable<CinemaDomain.Model.Session>

@{
    ViewData["Title"] = "Доступні сеанси";
}

<h1>Доступні сеанси</h1>

<p>
    <a asp-controller="Sessions" asp-action="Create" class="btn btn-primary">Створення сеансу</a>
</p>

<div class="row">
    <div class="col-12">
        <div id="countByMovieChart"></div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Дата створення</th>
            <th>Статус</th>
            <th>Фільм</th>
            <th>Розклад</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CreatedAt.ToLocalTime().ToString("yyyy-MM-dd HH:mm")</td>
                <td>@(item.IsActive ? "Active" : "Inactive")</td>
                <td>@item.Movie.Title</td>
                <td>@($"{item.Schedule.StartTime:HH:mm} ({item.Schedule.StartTime} min)")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawTopMovies(); // Call to the method that draws the top movies pie chart
        }

        function drawTopMovies() {
            fetch('/api/charts/topMovies')
                .then(response => response.json())
                .then(data => {
                    const dataTable = new google.visualization.DataTable();
                    dataTable.addColumn('string', 'Фільм'); // Column for Movie Title
                    dataTable.addColumn('number', 'К-сть сеансів'); // Column for Session Count

                    data.forEach(item => {
                        dataTable.addRow([item.movieTitle, item.sessionCount]); // Add rows for top movies
                    });

                    const options = {
                        title: 'Топ 10 фільмів за кількістю сеансів',
                        width: 700,
                        height: 400,
                        is3D: true, // Optional: for 3D effect
                    };

                    const chart = new google.visualization.PieChart(document.getElementById('countByMovieChart'));
                    chart.draw(dataTable, options);
                });
        }
    </script>
}
